In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['squared_error','absolute_error','poisson','friedman_mse'],'splitter':['random','best'],'max_features':['auto','sqrt','log2']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
22 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.63141439 0.68690618 0.66195102 0.67644007
        nan        nan 0.66829755 0.63475005 0.60839939 0.63665082
        nan        nan 0.67187026 0.70782936 0.64908731 0.71656628
        nan        nan 0.65535418 0.66554838 0.64215188 0.66966185]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['random', 'best']},
             verbose=3)

In [20]:
re=grid.cv_results_

print("The R_score value for the best parameter {}:".format(grid.best_params_))

The R_score value for the best parameter {'criterion': 'poisson', 'max_features': 'log2', 'splitter': 'best'}:

In [22]:
table=pd.DataFrame.from_dict(re)

In [23]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008628,0.003678,0.000000,0.000000,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.006504,0.005407,0.000000,0.000000,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.024293,0.004682,0.012806,0.002837,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.703561,0.462747,0.654009,0.678832,0.657923,0.631414,0.086158,15
3,0.029019,0.001691,0.004801,0.003113,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.765300,0.658563,0.686541,0.653945,0.670182,0.686906,0.040780,3
4,0.022170,0.004782,0.009347,0.003941,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.692683,0.526284,0.713588,0.722601,0.654599,0.661951,0.071762,9
5,0.024443,0.004282,0.009259,0.002738,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.656915,0.597945,0.722718,0.695247,0.709375,0.676440,0.044995,4
6,0.003471,0.001343,0.000000,0.000000,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.002559,0.003822,0.000000,0.000000,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.044727,0.003923,0.004208,0.002512,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.737669,0.615695,0.672651,0.626886,0.688587,0.668298,0.044102,7
9,0.053332,0.006568,0.006772,0.002294,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.662031,0.538242,0.626145,0.633104,0.714228,0.634750,0.057361,14
10,0.035863,0.005287,0.011056,0.003942,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.668361,0.521465,0.443919,0.766099,0.642153,0.608399,0.113327,16
11,0.049188,0.003621,0.009597,0.004112,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.717749,0.385843,0.707606,0.708046,0.664009,0.636651,0.126777,13
12,0.001972,0.002837,0.000000,0.000000,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.001078,0.001483,0.000000,0.000000,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.018600,0.009038,0.008183,0.002889,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.722614,0.651054,0.681718,0.632189,0.671776,0.671870,0.030593,5
15,0.019369,0.003267,0.006067,0.002097,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.709062,0.646592,0.732615,0.728974,0.721904,0.707829,0.031658,2
16,0.016866,0.004334,0.007885,0.004796,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.713215,0.555120,0.677529,0.694299,0.605273,0.649087,0.059523,11
17,0.014981,0.001832,0.003208,0.003929,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.728069,0.640722,0.720942,0.742683,0.750416,0.716566,0.039323,1
18,0.001547,0.001481,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000600,0.001200,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.011216,0.003968,0.006928,0.003896,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.682626,0.549560,0.675888,0.709900,0.658796,0.655354,0.055398,10
21,0.017605,0.006594,0.005415,0.004607,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.765751,0.443192,0.741201,0.633598,0.744000,0.665548,0.120318,8
22,0.010460,0.004736,0.006747,0.004995,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.688090,0.578623,0.672773,0.697372,0.573902,0.642152,0.054390,12
23,0.014916,0.004026,0.005184,0.004423,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.747265,0.616953,0.736718,0.500037,0.747336,0.669662,0.098085,6

In [24]:
age_input=float(input('Age:'))
bmi_input=float(input('BMI:'))
children_input=(input('Children:'))
sex_male_input=(input('Sex_Male 0 or 1:'))
smoker_yes_input=(input('Smoker_Yes 0 or 1:'))

Age:30
BMI:22
Children:1
Sex_Male 0 or 1:0
Smoker_Yes 0 or 1:0

In [25]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future Prediction={}'.format(Future_Prediction))

Future Prediction=[4718.20355]

C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(